
.I-body_list_category{
    width: 100%;
    margin: 50px 0;
    overflow: hidden;
}
.I-body_list_category .title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}
.I-body_list_category .content{
    margin: 50px 0 0 0;
    width: 100%;
}
.I-body_list_category .content ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.I-body_list_category .content ul li{
    float: left;
    width: calc(20% - 10px);
    height: 30px;
    margin: 5px;
}
.I-body_list_category .content ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: #fff;
    background-color: #337ab7;
}
.I-body_list_category .content ul li a:hover{
    color: #000;
}

.I-wrapper_book{
    width: 100%;
    margin: 50px 0;
}
.I-wrapper_book .sidebar{
    float: left;
    width: 20%;
    overflow: hidden;
    padding: 0 20px;
}
.I-wrapper_book .sidebar .sidebar_wrapper{
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}
.I-wrapper_book .sidebar .sidebar_wrapper .title{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: #337ab7;
    color: #fff;
}
.I-wrapper_book .sidebar .sidebar_wrapper ul{
    list-style-type: none;;
    margin: 0;
    padding: 10px 20px;
}
.I-wrapper_book .sidebar .sidebar_wrapper ul li{
    width: 100%;
    height: 30px;
    margin: 5px 0;
}
.I-wrapper_book .sidebar .sidebar_wrapper ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.I-wrapper_book .sidebar .sidebar_wrapper ul li a .icon{
    
}
.I-wrapper_book .sidebar .sidebar_wrapper ul li a .text{
    margin: 0 0 0 10px;
    transition: all 300ms ease;
}
.I-wrapper_book .sidebar .sidebar_wrapper ul li a:hover .text{
    margin: 0 0 0 20px;
}
.I-wrapper_book .content{
    float: left;
    width: 80%;
    padding: 0 20px;
    overflow: hidden;
}
.I-wrapper_book .content .content_wrapper{
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}
.I-wrapper_book .content .content_wrapper .title{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    background-color: #337ab7;
    color: #fff;
    padding: 0 30px;
}
.I-wrapper_book .content .content_wrapper .list_book_wrapper{
    width: 100%;
    padding: 20px;
}
.I-wrapper_book .content .content_wrapper .list_book_wrapper .list_book{
    width: 100%;
    height: 100%;
}
.I-wrapper_book .content .content_wrapper .list_book_wrapper .list_book .book_wrapper{
    float: left;
    width: calc(20% - 40px);
    overflow: hidden;
    margin: 20px;
}







